h2 {
    @include flexbox;
    padding: 1.5rem;
}


.blend-venta {
    gap: 3rem;
    @include flex2;

    .foto-blend2{
        display: flex;
        background-color: #454545;
        justify-content: center;
    }

}

div .otro-largo {
    background-color: $color-fondo-letras;
    width: 100%;

    @include mobile{
        width: 99%;
    }

    &-2 {
        background-color: $color-fondo-letras;
        width: 100%;

        .filas-blend {
            @include flex2;

        }

    }

}

.card-body2 {
    text-align: center;
    font-family: lato sans-serif;
    width: 100%;

    .card-text2 {
        color: $color-fondox2-letras;
        

    &-title2 {
        color: $color-fondox2-letras;

        text-align: center;
        width: 100%;

        @include mobile{
            width: 100%
        }

        }
    }
}

.blend-expansion {
    @include flexbox;
    padding: 0.5rem;

    .blend-boton {
        background-color: $color-fondox2-letras;
        color: $color-fondo-letras;
        @include flexbox;
        justify-content: right;

    }
}

.blend-expansion-2 {
    @include flexbox;
    padding: 0.5rem;

    .blend-boton-2 {
        background-color: $color-fondox2-letras;
        @include flexbox;
        color: $color-fondo-letras;

    }
}

.tres-blend{
    @include flexbox;
    width: 80%;
    gap: 4rem;

    @include mobile {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;

    }
}

.cuatro-blend{
    @include flexbox;
    width: 80%;
    gap: 4rem;

    @include mobile {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }
}


.img-amalaya{
    width: 100%;

    @include mobile{
        width: 100%;
    }
}


.img-anaia{
    width: 100%;

    @include mobile{
        width: 100%;
    }
}

.img-badbrothers{
    width: 100%;

    @include mobile{
        width: 100%;
    }
}