.titulo {
    @include flexbox;
    padding: 2rem;

    @include mobile{
        padding: 0rem;
        }
}

.contacto {
    color: $color-fondo-letras;
}

.medio {
    @include inline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;

    @include desktop{
        justify-content: center;
        @include inline; 
    }

    @include tablet{
        @include flex2;
        gap: 1rem;
    }

    @include mobile {
        @include flex2;
        gap: 1rem;
        
        }
        
            .formularios {
            @include flexbox;
            @include inline;
            padding: 2rem;
            justify-content: start;

            .primero {
                @include flex2;
                font-size: 15px;
            }

            .segundo {
                @include flex2;
                font-size: 15px;
            }

            .tercero {
                @include flex2;
                font-size: 15px;
            }

            .cuarto {
                @include flex2;
                font-size: 15px;
            }


            .consultas {
                @include flex2;
                width: 100%;
                gap: 1.5rem;

                @include desktop{
                    gap: 1rem;
                }

                @include tablet{
                    gap: 1rem;
                }

                @include mobile{
                    gap: 1rem;
                }

                .enviar {
                    @include flexbox;
                    width: 30px;
                    padding: 3rem;
                    right: 6rem;

                    @include desktop{
                        @include flexbox;
                        width: 100%;
                        padding: 1em;
                    }

                    @include tablet{
                        @include flexbox;
                        width: 100%;
                        padding: 1em;
                    }

                    @include mobile{
                        @include flexbox;
                        width: 100%;
                        padding: 1em;
                    }
                }

            }
    }
}

.atencionalcliente {
    color: $color-fondo-letras;
    @include inline;
    @include flex3;
    padding: 2em;

    @include desktop{
        @include flex3;
        padding: 2em;
    }

    @include tablet{
        @include flex2
    }

    @include mobile{
        @include flex2;
    }
}