h1 {
    @include flexbox;
    padding: 2rem;
}


.malbec-venta {
    gap: 3rem;
    @include flex2;
    padding: 1rem;

    @include mobile{
        padding: 1.2rem;
        gap: 2rem;
    }

    .fila-catena {
        @include flex2;
        box-shadow: color(#454545) 25px 13px;
    
        &:hover {
            box-shadow: #454545 2px 25px 13px;
        }
    }
    
    .fila-vistandes {
        @include flex2;
        box-shadow: color(#454545) 25px 13px;
    
        &:hover {
            box-shadow: #454545 2px 25px 13px;
        }
    }
    
    .fila-portillo {
        @include flex2;
        box-shadow: color(#454545) 25px 13px;
    
        &:hover {
            box-shadow: #454545 2px 25px 13px;
        }
    
    }

    .fila-promocion{
        @include flex2;
        
        &:hover{
            box-shadow: #454545 2px 25px 13px;
        }
    }

    .fila-malajunta{
        @include flex2;

        &:hover{
            box-shadow: #454545 2px 25px 13px;
        }
    }


    .fila-manosnegras{
        @include flex2;

        &:hover{
            box-shadow: #454545 2px 25px 13px;
        }
    }

    .fila-vila{
        @include flex2;

        &:hover{
            box-shadow: #454545 2px 25px 13px;
        }
    }



    .foto-malbec2 {
        @include flexbox;
        background-color: #454545;
        background: #454545;
    }

}

div .otro-largo {
    background-color: $color-fondo-letras;
    width: 100%;

    @include desktop {
        width: 99%;
    }

    @include tablet {
        width: 99%;
    }

    @include mobile {
        width: 99%;
    }

    &-2 {
        background-color: $color-fondo-letras;
        width: 100%;

        .filas-malbec {
            @include flex2;

        }

    }

}

.card-body2 {
    text-align: center;
    font-family: lato sans-serif;
    width: 100%;

    .card-text2 {
        color: $color-fondox2-letras;


        &-title2 {
            color: $color-fondox2-letras;

            text-align: center;
            width: 100%;

            @include desktop {
                width: 100%;
            }

            @include tablet {
                width: 100%;
            }

            @include mobile {
                width: 100%;
            }

        }
    }
}

.malbec-expansion {
    @include flexbox;
    padding: 0.5rem;

    .malbec-boton {
        background-color: $color-fondox2-letras;
        color: $color-fondo-letras;
        @include flexbox;
        justify-content: right;

        @include desktop {
            width: 100%;
            justify-content: center;
        }

        @include tablet {
            width: 100%;
            justify-content: center;
        }

        @include mobile {
            width: 100%;
            justify-content: center
        }
    }
}

.malbec-expansion-2 {
    @include flexbox;
    padding: 0.5rem;

    .malbec-boton-2 {
        background-color: $color-fondox2-letras;
        @include flexbox;
        color: $color-fondo-letras;

        @include desktop {
            width: 100%;
        }

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 100%;

        }

    }
}


.tres {
    @include flexbox;
    width: 80%;
    gap: 4rem;

    @include desktop {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    @include tablet {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    @include mobile {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }
}

.uno{
    @include flexbox;
    width: 100%;
}

.cuatro {
    @include flexbox;
    width: 80%;
    gap: 4rem;

    @include desktop {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    @include tablet {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    @include mobile {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }
}

.imgvistandes {
    width: 100%;

    @include desktop {
        width: 94%;
    }

    @include tablet {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }
}


.tarjeta {
    width: 100%;

    @include desktop {
        width: 100%;
    }

    @include tablet {
        width: 100%;
        @include flexbox;
    }

    @include mobile {
        width: 100%;
        @include flexbox;
    }
}


.foto-malbec2 {
    width: 100%;
}


