
h2 {
    @include flexbox;
    padding: 1.5rem;
}


.malbec-venta {
    gap: 3rem;
    @include flex2;


    .foto-malbec2 {
        @include flexbox;
        background-color: #454545;
    }

}

div .otro-largo {
    background-color: $color-fondo-letras;
    width: 100%;

    @include desktop{
        width: 99%;
    }

    @include tablet{
        width: 99%;
    }

    @include mobile {
        width: 99%;
    }

    &-2 {
        background-color: $color-fondo-letras;
        width: 100%;

        .filas-malbec {
            @include flex2;

        }

    }

}

.card-body2 {
    text-align: center;
    font-family: lato sans-serif;
    width: 100%;

    .card-text2 {
        color: $color-fondox2-letras;


        &-title2 {
            color: $color-fondox2-letras;

            text-align: center;
            width: 100%;

            @include desktop{
                width: 100%;
            }

            @include tablet{
                width: 100%;
            }

            @include mobile {
                width: 100%;
            }

        }
    }
}

.malbec-expansion {
    @include flexbox;
    padding: 0.5rem;

    .malbec-boton {
        background-color: $color-fondox2-letras;
        color: $color-fondo-letras;
        @include flexbox;
        justify-content: right;

        @include desktop{
            width: 100%;
            justify-content: center;
        }

        @include tablet{
            width: 100%;
            justify-content: center;
        }

        @include mobile{
            width: 100%;
            justify-content: center
        }
    }
}

.malbec-expansion-2 {
    @include flexbox;
    padding: 0.5rem;

    .malbec-boton-2 {
        background-color: $color-fondox2-letras;
        @include flexbox;
        color: $color-fondo-letras;

        @include desktop{
            width: 100%;
        }

        @include tablet{
            width: 100%;
        }

        @include mobile {
            width: 100%;
            
        }

    }
}


.tres {
    @include flexbox;
    width: 80%;
    gap: 4rem;

    @include desktop{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    @include tablet{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    @include mobile {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }
}

.cuatro {
    @include flexbox;
    width: 80%;
    gap: 4rem;

    @include desktop{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    @include tablet{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    @include mobile {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        padding: 0.5rem;
        gap: 0.5rem;
    }
}

.imgvistandes {
    width: 100%;

    @include desktop{
        width: 94%;
    }

    @include tablet{
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }
}


.tarjeta {
    width: 100%;

    @include desktop{
        width: 100%;
    }

    @include tablet{
        width: 100%;
        @include flexbox;
    }

    @include mobile {
        width: 100%;
        @include flexbox;
    }
}

.img-fluidrounded-start{
    width: 100%;
    background: linear-gradient(#454545, $color-fondo-letras);
}

.foto-malbec2{
    width: 100%;
}