footer {
    background-color: #e5e5e5;

    & h2{
        color: $color-fondox2-letras;
    }
}


.footer-1{
    @include flexbox;
    background-color: $color-fondo-letras;
    color: $color-fondox2-letras;
    font-family: lato sans-serif;



}


.junte {
    @include flexbox;

    .footer-2{
        @include flexbox;
        gap: 0.2rem;
        padding: 0.5em;

            @include tablet{
                @include flexbox;
            }

            @include mobile{
                @include flex2;
            }


            & a{
                color: $color-fondox2-letras;
                text-decoration: none;

                &:hover{
                    color: #454545
                }
    
            }
    }
}

.redes {
    @include flexbox;
    padding: 13px;
    gap: 7px;
    color: $color-fondox2-letras;

        & a{
            color: $color-fondox2-letras;

            &:hover{
                color: #454545;
            }
        }
}