header {
    color: $color-fondox2-letras;
    background-color: $color-fondo-letras;

    @include mobile {
        width: 100%;
    }

    .logoo-png {
        @include flexbox;
        height: 170px;
        width: 150px;

    }
}



.linea {
    @include inline;

    @include mobile {
        width: 100%;
        @include flex2;
    }

    @include tablet{
        width: 100%;
        @include flex2;
    }


    nav {
        background-color: $color-fondo-letras;
        @include flexbox;
        width: 100%;
        padding-top: 20px;
        padding-left: 31%;
        padding-right: 20%;
        font-weight: bold;
        font-family: garamond;

        @include mobile {
            width: 100%;
            @include flex2;
            padding-right: 31%;
            gap: 1rem;
        }

        @include tablet{
            width: 100%;
            @include flex3; 
            padding-right: 31%;   
        }


        ul {
            @include inline;
            @include flexbox;
            width: 100%;
            gap: 3rem;

            @include mobile {
                width: 100%;
                @include flex2;
                padding: 3rem;
                gap: 2rem;
            }

            li {
                list-style: none;
                padding: 0 10px;


                a {
                    @include flexbox;
                    text-decoration: none;
                    color: $color-fondox2-letras;

                    @include mobile {
                        width: 100%;
                        @include flex2;
                    }

                    &:hover {
                        color: #494949;

                        @include mobile {
                            width: 100%;
                            @include flex2;

                        }
                    }
                }

            }
        }
    }

}


.mover {
    @include inline;
    @include flex2;
    align-items: end;
    width: 20%;

    @include mobile {
        @include flex2;
        gap: 2rem;
    }

    @include tablet{
        @include flexbox;
        padding: 1em;

    }

    .bi-cart-fill {
        @include inline;
        width: 20%;
        height: 20%;
        color: $color-fondox2-letras;

        @include mobile {
            @include flexbox;
            padding: 0.5rem;
            color: $color-fondox2-letras;
        }

        @include tablet{
            @include flexbox;
        }

        &:hover {
            color: #454545;
        }
    }


}