
.articulos{
    padding: 6.2rem;

    @include desktop{
        width: 100%;
        padding: 2rem;
    }

    @include tablet{
        width: 100%;
        padding: 2rem;
    }

    @include mobile{
        width: 100%;
        padding: 0.3rem;
    }   
}

.noticia{
    background-image: url(../../images/uvas2.jpg);
    background-size: 100%;
    width: 100%;
    @include inline;
    @include flex2;

    @include desktop{
        width: 100%;
        height: 100%;
    }

    @include tablet{
        width: 100%;
        height: 100%;
    }

    @include mobile{
        width: 100%;
        height: 100%;
        background-image: url(../../images/uvas.jpg);
    }

    .letras{
        padding-top: 2.5rem;
    
        h2{
            color: $color-fondo-letras;
            padding: 0;

        }
    
        @include desktop{
            padding: 0rem;
            padding-top: 0;
        }
        

    }


}

.ellos{
    @include grid1;
    gap: 4rem;
    padding: 2em;

        @include desktop{
            @include grid1;
            gap: 2rem;
            padding: 1em;
        }

        @include tablet{
            @include flex2;
            padding: 1em;
        }

        @include mobile{
            @include flex2;
            padding: 1em;
        }


    .parrafop{
        color: $color-fondo-letras;
        @include flex2;
        padding: 0.8rem;

            @include desktop{
                @include flex2;
                padding: 0;
                padding-top: 1.7rem;
            }

            @include tablet{
                font-size: 100%;
                padding: 0.5em;
            }

            @include mobile{
                font-size: 90%;
                padding: 0.5em;
            }
    }

}


    .parrafopotro{
        color: $color-fondo-letras;
        padding-top: 1rem;
    }

.imagen{
    padding: 3rem;

    @include desktop{
        padding-top: 8rem;
    }

    @include tablet{
        padding: 0;
    }

    @include mobile{
        padding: 0;
        @include flexbox;
    }
}

