
.articulos{
    padding: 6.2rem;

    @include desktop{
        width: 100%;
        padding: 2rem;
    }

    @include tablet{
        width: 100%;
        padding: 2rem;
    }

    @include mobile{
        width: 100%;
        padding: 0.3rem;
    }   
}

.noticia{
    background-image: url(../fondocava.jpeg);
    background-size: 100%;
    width: 100%;
    @include inline;
    @include flex2;

    @include desktop{
        width: 100%;
        height: 100%;
    }

    @include tablet{
        width: 100%;
        height: 100%;
    }

    @include mobile{
        width: 100%;
        height: 100%;
    }


    .titulon{
        color: $color-fondox2-letras;
        @include flexbox;

        @include desktop{
            block-size: 10%;
        }

        @include tablet{
            block-size: 10%;
        }

        @include mobile{
            block-size: 10%;
        }

        .imagen{
            @include flexbox;  
        }
    }
}

.ellos{
    @include grid1;
    gap: 2rem;
    padding: 1em;

        @include desktop{
            @include grid1;
            gap: 2rem;
            padding: 1em;
        }

        @include tablet{
            @include flex2;
            padding: 1em;
        }

        @include mobile{
            @include flex2;
            padding: 1em;
        }


    .parrafop{
        color: $color-fondox2-letras;
        @include flex2;

            @include desktop{
                @include flex2;
            }

            @include tablet{
                font-size: 100%;
                padding: 0.5em;
            }

            @include mobile{
                font-size: 90%;
                padding: 0.5em;
            }
    }

}

