.promos {
    @include flexbox;
    justify-content: space-around;
    width: 100%;
    gap: 5rem;

    @include desktop{
        @include flexbox;
        width: 100%;
        padding: 0; 
    }

    @include tablet{
        @include flexbox;
        width: 100%;
        padding: 1rem;
    }

    @include mobile {
        @include flex2;
        width: 100%;
        padding: 2.5rem;
    }



    .foto {
        background: #454545;
        padding: 1rem;
        width: 100%;
        height: 100%;

    }
}


.otro-largo1{
    width: 100%;
    background-color: #454545;
}


div .largo {
    background-color: $color-fondo-letras;
    width: 100%;



    &-2 {
        background-color: $color-fondo-letras;
        width: 100%;

    }

    .fila1 {
        @include flex2;

        &:hover{
            box-shadow: #454545 2px 25px 13px;
        }
    }
}

.fila2 {
    @include flex2;

    &:hover{
        box-shadow: #454545 2px 25px 13px;
    }

}


.fila3 {
    @include flex2;

    &:hover{
        box-shadow: #454545 2px 25px 13px;
    }


}

    .card-body {
        text-align: center;
        font-family: lato sans-serif;

        .card-title {
            color: $color-fondox2-letras;
            text-align: center;
            text-decoration: none;
            width: 100%;


        }
    }


    .expansion {
        @include flexbox;

        .boton {
            background-color: $color-fondox2-letras;
            color: $color-fondo-letras;
            border-radius: 9px;
            font-size: 12px;
            opacity: 82%;
            padding: 0.5rem;
            @include flexbox;

            &:hover{
                background-color: $color-fondo-letras;
                color: $color-fondox2-letras;
            }

        }
    }

    .expansion-2 {
        @include flexbox;

        .boton-2 {
            background-color: $color-fondox2-letras;
            border-radius: 9px;
            font-size: 12px;
            opacity: 82%;
            padding: 0.5rem;
            color: $color-fondo-letras;
            @include flexbox;

            &:hover{
                background-color: $color-fondo-letras;
                color: $color-fondox2-letras;
            }
        }
    }

    .expansion-3 {
        @include flexbox;

        .boton-3 {
            background-color: $color-fondox2-letras;
            border-radius: 9px;
            font-size: 12px;
            opacity: 82%;
            padding: 0.5rem;
            color: $color-fondo-letras;
            @include flexbox;

            &:hover{
                background-color: $color-fondo-letras;
                color: $color-fondox2-letras;
            }

        }
    }


    .card-text {
        color: $color-fondox2-letras;
        text-align: center;
    }
    

a {
    text-decoration: none;
}
    
