.promos {
    @include flexbox;
    justify-content: space-around;
    width: 80%;
    padding-left: 15%;
    gap: 5rem;

    @include desktop{
        @include flexbox;
        width: 100%;
    }

    @include tablet{
        @include flexbox;
        width: 100%;
        padding: 1rem;
    }

    @include mobile {
        @include flex2;
        width: 100%;
        padding: 1rem;
    }



    .foto {
        // background-color: #494949;
        background: linear-gradient(#454545, $color-fondo-letras);
        padding: 1rem;
        width: 100%;
        height: 100%;

    }
}


div .largo {
    background-color: $color-fondo-letras;
    width: 100%;



    &-2 {
        background-color: $color-fondo-letras;
        width: 100%;

    }

    .fila1 {
        @include flex2;
        background: $color-fondo-letras;
        box-shadow:  color(#454545) 25px 13px;
        transition-duration: 2s;

        &:hover{
            transform: scale(1.2);
        }
    }
}

.fila2 {
    @include flex2;
    background: $color-fondo-letras;
    box-shadow: color(#454545) 2px 25px 13px;
    transition-duration: 2s;

    &:hover{
        transform: scale(1.2);
    }

}


.fila3 {
    @include flex2;
    background-color: $color-fondo-letras;
    box-shadow: color(#454545) 2px 25px 13px;
    transition-duration: 2s;

    &:hover{
        transform: scale(1.2);
    }


}

    .card-body {
        text-align: center;
        font-family: lato sans-serif;

        .card-title {
            color: $color-fondox2-letras;
            text-align: center;
            text-decoration: none;
            width: 100%;


        }
    }

    .expansion {
        @include flexbox;

        .boton {
            background-color: $color-fondox2-letras;
            color: $color-fondo-letras;
            @include flexbox;

        }
    }

    .expansion-2 {
        @include flexbox;

        .boton-2 {
            background-color: $color-fondox2-letras;
            color: $color-fondo-letras;
        }
    }

    .expansion-3 {
        @include flexbox;

        .boton-3 {
            background-color: $color-fondox2-letras;
            color: $color-fondo-letras;
        }
    }


    .card-text {
        color: $color-fondox2-letras;
        text-align: center;
    }
    

a {
    text-decoration: none;
}
    
